<% if flash[:notice] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
<% end %>
<fieldset>
  <legend>Редактирование вопроса</legend>

  <%= render :partial => 'form' %>

</fieldset>

<br />

<%= link_to "Удалить вопрос", admin_mquestion_path, :method => :delete,
            data:{:confirm => "Вы уверены" }%> <br />
<%= link_to "Вернуться" , :action => 'index'  %>