<div class="col-md-10 col-lg-10">
  <ul class="menu">
    <li><a href="#" class="modal-terms">Условия акции</a></li>
    <li><a href="/about">О мире Чимы</a></li>
    <li><a href="/video">Видео</a></li>
    <li><a href="http://www.nickelodeon.ru/show/chima/" target="_blank">Сериал «Легенды Чимы»</a></li>
    <li><a href="#">Ответы</a></li>
  </ul>
</div>
<div class="col-md-2 col-lg-2">
  <div class="pluso" data-background="transparent"
       data-url="http://chima.nickelodeon.ru/"
       data-image="http://chima.nickelodeon.ru/img/peg-pol10.jpg"
       data-description="Смотри Action-блок на Nickelodeon каждый день и ищи вопросы в эфире. Участвуй в борьбе за квадроцикл и наборы от LEGO® CHIMA™!"
       data-title="АКЦИЯ ОТ LEGO® CHIMA™ И NICKELODEON! КРУТЫЕ ПРИЗЫ!"
       data-options="medium,round,line,horizontal,nocounter,theme=08"
       data-services="vkontakte,facebook,odnoklassniki,twitter">
  </div>
</div>
