<div class="container">
  <div class="starter-template">
    <div class="row">
      <%= render :partial => "menu" %>
      <div class="col-md-12 col-lg-12">
        <div class="block-main-big">
          <div class="row">
            <div class="col-md-11 col-lg-11">
              <h2 class="mt65 mb0">о мире чимы</h2>
              <ul class="submenu">
                <li><a href="#" class="active tab" data-tab="0">МИР ЧИМЫ</a></li>
                <li><a href="#" class="tab" data-tab="1">ЭНЕРГИЯ ЧИ</a></li>
                <li><a href="http://www.lego.com/ru-ru/chima/world-of-chima/animals/lion-tribe/laval" target="_blank">ГЕРОИ МИРА ЧИМЫ</a></li>
                <li><a href="http://www.lego.com/ru-ru/chima/world-of-chima/speedorz" target="_blank">ЧИМАЦИКЛЫ</a></li>
                <li><a href="http://www.lego.com/ru-ru/chima/world-of-chima/vehicles/crawleys-claw-ripper" target="_blank">ТРАНСПОРТНЫЕ СРЕДСТВА</a></li>
                <li><a href="http://www.lego.com/ru-ru/chima/world-of-chima/weapons/axcalion" target="_blank">оружие</a></li>
                <li><a href="http://www.lego.com/ru-ru/chima/videos/cgi/music-video" target="_blank">видео</a></li>
              </ul>
            </div>
            <div class="col-md-11 col-lg-11">
              <div class="block-about tab-block">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным природным раем, а теперь оно превратилось в поле брани, на котором сражаются восемь кланов зверей-воинов. Лучшие друзья стали врагами. Звери сражаются за контроль над природной энергией под названием ЧИ, которая является одновременно и источником жизни, и могущественной разрушительной силой. Лишь несколько отважных героев понимают истинную природу ЧИ и то, что неправильное её использование может привести к гибели ЧИМЫ. Истории о них и их противниках называются.... ЛЕГЕНДЫ ЧИМЫ.
                  </p>
                </div>
                <img src="/img/world.jpg" alt="" class="mt30 pull-right" id="img-about-chima">
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.lego.com/ru-ru/chima/world-of-chima/land-of-chima" target="_blank"></a>
              </div>
              <div class="block-about tab-block" style="display: none;">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    ЧИ &mdash; это супермощный природный источник энергии, который течёт в священных водах ЧИМЫ, давая жизнь и энергию большей части королевства. Он содержит стихийную мощь природы в концентрированной форме и при правильных условиях высвобождает свою энергию, для того чтобы граждане ЧИМЫ её использовали.
                  </p>
                </div>
                <img src="/img/sphere1.png" alt="" class="mt30 pull-right" id="img-about-chima">
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.lego.com/ru-ru/chima/world-of-chima/chi" target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
