<div class="container">
  <div class="starter-template">
    <div class="row">
      <%= render "welcome/menu" %>
      <div class="col-md-8 col-lg-8">
        <div class="block-main-small gray">
          <div class="bottom-shadow"></div>
          <div class="row">
            <div class="col-md-5 col-lg-5">
              <h2 class="pull-left mt0">правильные ответы</h2>
            </div>
            <div class="col-md-5 col-lg-5">
              <div class="form-group mt20">
                <input type="text" placeholder="Быстрый поиск" class="form-control">
              </div>
            </div>
            <div class="col-md-11 col-lg-11">
              <div class="block-scroll">
                <table class="tbl-results">
                  <tr>
                    <td><i>9 Ноября</i></td>
                    <td>
                      <a href="#" class="gray-link modal-video">Видео</a>
                      <a href="#" class="gray-link">Победители</a>
                    </td>
                  </tr>
                  <tr>
                    <td>В: Как зовут этого героя?</td>
                  </tr>
                  <tr>
                    <td>О: Лавал</td>
                  </tr>
                  <tr>
                    <td class="pt30"><i>10 Ноября</i></td>
                    <td>
                      <a href="#" class="gray-link modal-video">Видео</a>
                      <a href="#" class="gray-link">Победители</a>
                    </td>
                  </tr>
                  <tr>
                    <td>В: Чем занимается этот герой?</td>
                  </tr>
                  <tr>
                    <td>О: Охотник</td>
                  </tr>
                  <tr>
                    <td class="pt30"><i>11 Ноября</i></td>
                    <td>
                      <a href="#" class="gray-link modal-video">Видео</a>
                      <a href="#" class="gray-link">Победители</a>
                    </td>
                  </tr>
                  <tr>
                    <td>В: Чем знаменит этот герой?</td>
                  </tr>
                  <tr>
                    <td>О: Лавал</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="block-right-part">
          <div class="block-vk">
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>
            <div id="vk_groups"></div>
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 0, width: "280", height: "500", color1: "#ccdb96", color2: "#5b6d48", color3: "#28345d"}, 22541528);
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
