<div class="container">
  <div class="starter-template">
    <div class="row">
      <%= render :partial => 'menu' %>
      <div class="col-md-12 col-lg-12">
        <div class="block-main-big">
          <div class="row">
            <div class="col-md-11 col-lg-11">
              <h2 class="mt65 mb0">ВИДЕО</h2>
              <ul class="submenu video">
                <li><a href="#" class="active tab" data-tab="0">краггер</a></li>
                <li><a href="#" class="tab" data-tab="1">Эрис</a></li>
                <li><a href="#" class="tab" data-tab="2">Лавал</a></li>
                <li><a href="#" class="tab" data-tab="3">вориз</a></li>
                <li><a href="#" class="tab" data-tab="4">Трэйлер</a></li>
                <li><a href="#" class="tab" data-tab="5">музыкальный клип</a></li>
                <li><a href="#" class="tab" data-tab="6">Эрис vs краггер</a></li>
                <li><a href="#" class="tab" data-tab="7">Эрис vs разар</a></li>
              </ul>
            </div>
            <div class="col-md-11 col-lg-11">
              <div class="block-about tab-block">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным <br>природным раем, а теперь оно превратилось в поле<br> брани, на котором сражаются восемь кланов<br> зверей-воинов. Лучшие друзья стали врагами.
                  </p>
                  <p class="font-size15 mt15">
                    Звери сражаются за контроль над природной<br> энергией под названием ЧИ, которая является<br> одновременно и источником жизни, и<br> могущественной разрушительной силой. Лишь<br> несколько отважных героев понимают истинную<br> природу ЧИ и то, что неправильное её использование<br> может привести к гибели ЧИМЫ.
                  </p>
                </div>
                <div class="mt30 pull-right">
                  <div style="background-color:#000000;width:477px;"><div><iframe src="http://media.mtvnservices.com/embed/mgid:uma:video:nickelodeon.ru:972878" width="477" height="270" frameborder="0"></iframe></div></div>
                </div>
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.nickelodeon.ru/video/cragger/" target="_blank"></a>
              </div>
              <div class="block-about tab-block" style="display: none">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным <br>природным раем, а теперь оно превратилось в поле<br> брани, на котором сражаются восемь кланов<br> зверей-воинов. Лучшие друзья стали врагами.
                  </p>
                  <p class="font-size15 mt15">
                    Звери сражаются за контроль над природной<br> энергией под названием ЧИ, которая является<br> одновременно и источником жизни, и<br> могущественной разрушительной силой. Лишь<br> несколько отважных героев понимают истинную<br> природу ЧИ и то, что неправильное её использование<br> может привести к гибели ЧИМЫ.
                  </p>
                </div>
                <div class="mt30 pull-right">
                  <div style="background-color:#000000;width:477px;"><div><iframe src="http://media.mtvnservices.com/embed/mgid:uma:video:nickelodeon.ru:972906" width="477" height="270" frameborder="0"></iframe></div></div>
                </div>
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.nickelodeon.ru/video/eris/" target="_blank"></a>
              </div>
              <div class="block-about tab-block" style="display: none">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным <br>природным раем, а теперь оно превратилось в поле<br> брани, на котором сражаются восемь кланов<br> зверей-воинов. Лучшие друзья стали врагами.
                  </p>
                  <p class="font-size15 mt15">
                    Звери сражаются за контроль над природной<br> энергией под названием ЧИ, которая является<br> одновременно и источником жизни, и<br> могущественной разрушительной силой. Лишь<br> несколько отважных героев понимают истинную<br> природу ЧИ и то, что неправильное её использование<br> может привести к гибели ЧИМЫ.
                  </p>
                </div>
                <div class="mt30 pull-right">
                  <div style="background-color:#000000;width:477px;"><div><iframe src="http://media.mtvnservices.com/embed/mgid:uma:video:nickelodeon.ru:972916" width="477" height="270" frameborder="0"></iframe></div></div>
                </div>
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.nickelodeon.ru/video/laval/" target="_blank"></a>
              </div>
              <div class="block-about tab-block" style="display: none">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным <br>природным раем, а теперь оно превратилось в поле<br> брани, на котором сражаются восемь кланов<br> зверей-воинов. Лучшие друзья стали врагами.
                  </p>
                  <p class="font-size15 mt15">
                    Звери сражаются за контроль над природной<br> энергией под названием ЧИ, которая является<br> одновременно и источником жизни, и<br> могущественной разрушительной силой. Лишь<br> несколько отважных героев понимают истинную<br> природу ЧИ и то, что неправильное её использование<br> может привести к гибели ЧИМЫ.
                  </p>
                </div>
                <div class="mt30 pull-right">
                  <div style="background-color:#000000;width:477px;"><div><iframe src="http://media.mtvnservices.com/embed/mgid:uma:video:nickelodeon.ru:972931" width="477" height="270" frameborder="0"></iframe></div></div>
                </div>
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.nickelodeon.ru/video/worriz/" target="_blank"></a>
              </div>
              <div class="block-about tab-block" style="display: none">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным <br>природным раем, а теперь оно превратилось в поле<br> брани, на котором сражаются восемь кланов<br> зверей-воинов. Лучшие друзья стали врагами.
                  </p>
                  <p class="font-size15 mt15">
                    Звери сражаются за контроль над природной<br> энергией под названием ЧИ, которая является<br> одновременно и источником жизни, и<br> могущественной разрушительной силой. Лишь<br> несколько отважных героев понимают истинную<br> природу ЧИ и то, что неправильное её использование<br> может привести к гибели ЧИМЫ.
                  </p>
                </div>
                <div class="mt30 pull-right">
                  <div style="background-color:#000000;width:477px;"><div><iframe src="http://media.mtvnservices.com/embed/mgid:uma:video:nickelodeon.ru:969030" width="477" height="270" frameborder="0"></iframe></div></div>
                </div>
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.nickelodeon.ru/video/legends-of-chima/" target="_blank"></a>
              </div>
              <div class="block-about tab-block" style="display: none">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным <br>природным раем, а теперь оно превратилось в поле<br> брани, на котором сражаются восемь кланов<br> зверей-воинов. Лучшие друзья стали врагами.
                  </p>
                  <p class="font-size15 mt15">
                    Звери сражаются за контроль над природной<br> энергией под названием ЧИ, которая является<br> одновременно и источником жизни, и<br> могущественной разрушительной силой. Лишь<br> несколько отважных героев понимают истинную<br> природу ЧИ и то, что неправильное её использование<br> может привести к гибели ЧИМЫ.
                  </p>
                </div>
                <div class="mt30 pull-right">
                  <div style="background-color:#000000;width:477px;"><div><iframe src="http://media.mtvnservices.com/embed/mgid:uma:video:nickelodeon.ru:972858" width="477" height="270" frameborder="0"></iframe></div></div>
                </div>
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.nickelodeon.ru/video/legends-of-chima-soundtrack" target="_blank"></a>
              </div>
              <div class="block-about tab-block" style="display: none">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным <br>природным раем, а теперь оно превратилось в поле<br> брани, на котором сражаются восемь кланов<br> зверей-воинов. Лучшие друзья стали врагами.
                  </p>
                  <p class="font-size15 mt15">
                    Звери сражаются за контроль над природной<br> энергией под названием ЧИ, которая является<br> одновременно и источником жизни, и<br> могущественной разрушительной силой. Лишь<br> несколько отважных героев понимают истинную<br> природу ЧИ и то, что неправильное её использование<br> может привести к гибели ЧИМЫ.
                  </p>
                </div>
                <div class="mt30 pull-right">
                  <div style="background-color:#000000;width:477px;"><div><iframe src="http://media.mtvnservices.com/embed/mgid:uma:video:nickelodeon.ru:972798" width="477" height="270" frameborder="0"></iframe></div></div>
                </div>
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.nickelodeon.ru/video/eris-vs-cragger/" target="_blank"></a>
              </div>
              <div class="block-about tab-block" style="display: none">
                <div class="block-scroll about pull-left w435">
                  <p class="font-size15">
                    Когда-то королевство ЧИМА было первозданным <br>природным раем, а теперь оно превратилось в поле<br> брани, на котором сражаются восемь кланов<br> зверей-воинов. Лучшие друзья стали врагами.
                  </p>
                  <p class="font-size15 mt15">
                    Звери сражаются за контроль над природной<br> энергией под названием ЧИ, которая является<br> одновременно и источником жизни, и<br> могущественной разрушительной силой. Лишь<br> несколько отважных героев понимают истинную<br> природу ЧИ и то, что неправильное её использование<br> может привести к гибели ЧИМЫ.
                  </p>
                </div>
                <div class="mt30 pull-right">
                  <div style="background-color:#000000;width:477px;"><div><iframe src="http://media.mtvnservices.com/embed/mgid:uma:video:nickelodeon.ru:972806" width="477" height="270" frameborder="0"></iframe></div></div>
                </div>
                <div class="clearfix"></div>
                <a class="btn-learn-more mt5" href="http://www.nickelodeon.ru/video/eris-protiv-razara/" target="_blank"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
