<% if flash[:notice] %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
<% end %>

<fieldset>
  <legend>Edit Account</legend>

  <%= render :partial => 'form' %>

</fieldset>

<br />

<%= button_to "Удалить пользователя", @person, :method => :delete,
              :confirm => "Вы уверены" %>
<%= link_to "Вернуться" , admin_users_path  %>