<div class="popup terms">
  <div class="popup-form">
    <h1>Условия акции</h1>
    <div class="row mt20">
      <div class="col-md-12 col-lg-12">
        <div class="block-scroll pop">
          <p class="font-size15"><strong>
          Правила участия в Акции «Познай мир Лего Чима»
          Правила проведения и участия в Акции «Познай мир Лего Чима» (далее – «Правила»)</strong></p>
          <p class="font-size15"><strong>1. ОБЩИЕ ПОЛОЖЕНИЯ</strong></p>
          <p class="font-size15">1.1. Настоящие Правила регламентируют порядок организации и проведения Акции «Познай мир Чимы» (далее – «Акция»)</p>
          <p class="font-size15">1.2. Организатором Акции является ООО «Агентство Маркетинговых Коммуникаций». Адрес: 125167, г. Москва, ул. Викторенко, д.5, стр. 1, тел. (495) 221 69 12. info@pvc.ru (далее – Организатор)  (далее - «Организатор»).</p>
          <p class="font-size15">1.3. Акция проводится на территории Российской Федерации (далее – «Территория») в период с 00:00 (московского времени) 11 ноября 2013 года до 23:59 (московского времени) 25 декабря 2013 года включительно (далее – «Срок»).</p>
          <p class="font-size15">1.4 Акция состоит из двух частей:
          Ежедневная викторина на сайте chima.nickelodeon.ru в период времени, указанный в пункте 1.6 Настоящих правил (Далее «Вопрос дня»)
          Творческий конкурс.</p>
          <p class="font-size15">1.5. Призовой фонд Акции включает в себя один Главный приз для Победителя Творческого конкурса и 84 Дополнительных приза для Участников, признанными Победителями в соответствии с условиями, указанными в пункте 3.4 Настоящих правил.</p>
          <p class="font-size15">1.6. Прием заявок на участие в Акции проходит в период с 00:00 (московского времени) 11 ноября по 23:59 (московского времени) 8 декабря 2013 года. Для того, чтобы заявить о желании участвовать в Акции необходимо совершить действия, описанные в пункте 3.1 Настоящих правил.</p>
          <p class="font-size15">1.7. Объявление полного списка из 85 (восьмидесяти пяти) Победителей Акции, осуществляется в порядке, установленном настоящими Правилами 16 декабря 2013 года.</p>
          <p class="font-size15">1.8. Акция проводится с целью развития творческих способностей детей.</p>
          <p class="font-size15">1.9. Информация об условиях Акции размещается на сайте chima.nickelodeon.ru</p>
          <p class="font-size15"><strong>2. УЧАСТНИКИ АКЦИИ</strong></p>
          <p class="font-size15">2.1 Участником Акции может стать законный представитель детей, возраст которых от 5 до 13 лет включительно, являющийся гражданином Российской Федерации, постоянно проживающий на ее территории.</p>
          <p class="font-size15">2.2. Участником Акции признается лицо, соответствующее условиям, установленным в ст. 2 настоящих Правил и выполнившее все необходимые условия Акции (ст. 3 Правил).</p>
          <p class="font-size15">2.3. Принимая участие в Акции, вышеозначенный гражданин подтверждает, что ознакомлен с настоящими Правилами и принимает условия Акции, а также принимает на себя все риски, связанные с участием в Акции и получением призов.</p>
          <p class="font-size15">2.4. Участник может в любой момент отказаться от участия в Акции или от получения приза.</p>
          <p class="font-size15">2.5. Участник не вправе передать и/или любым иным способом уступить свои права, связанные с участием в Акции, третьему лицу (лицам).</p>
          <p class="font-size15"><strong>3. ПОРЯДОК ПРОВЕДЕНИЯ АКЦИИ</strong></p>
          <p class="font-size15">3.1 Для того чтобы принять участие в Акции, Участнику необходимо:</p>
          <p class="font-size15">1) Ознакомиться с  Вопросом дня путем просмотра канала Nickelodeon Россия в период, указанный в пункте 1.6 Настоящих правил.</p>
          <p class="font-size15">2) Зайти на сайт chima.nickelodeon.ru и ввести ответ на Вопрос дня. У каждого Участника есть только одна возможность ввести ответ на Вопрос дня в течение 24 часов.</p>
          <p class="font-size15">3) Заполнить форму регистрации на сайте chima.nickelodeon.ru, указав достоверные и актуальные данные (полное имя, фамилию, область и город фактического проживания, возраст и адрес электронной почты).</p>
          <p class="font-size15">4) Для участия в Творческом конкурсе необходимо написать развернутый ответ на вопрос «Кто твой любимый герой CHIMA и почему?» (далее – «Работа»).</p>
          <p class="font-size15">5) Каждый Участник Акции может разместить неограниченное количество Работ.</p>
          <p class="font-size15">6) Все права на использование Работ Участников Акции переходят к Организатору без какого-либо дополнительного вознаграждения Участников.</p>
          <p class="font-size15">3.2. Участник Акции вправе в любой момент удалить свою заявку на участие, тем самым, прекращая свое участие в Акции.
          Для этого Участник Акции должен прислать на адрес competitions.nickelodeon@gmail.com запрос на удаление Работы (в произвольной форме) с электронного адреса, который он указал при регистрации на chima.nickelodeon.ru. Фамилия и имя Участника Акции, указанные в запросе на удаление Работы, должны совпадать с указанными при регистрации именем и фамилией.
          Зарегистрированный пользователь сайта chima.nickelodeon.ru может снова стать Участником Акции, если вновь создаст Работу в срок, указанный в п. 1.6 Правил и разместит Работу в период проведения Акции.
          Каждый Участник может участвовать в Акции несколько раз, с учетом ч. 2) п. 3.1. настоящих Правил, однако один Участник может выиграть только 1 (один) приз.
          <p class="font-size15">3.3. Прием заявок на участие в Акции заканчивается в 23:59 (московское время) 8 декабря 2013 года.</p>
          <p class="font-size15">3.4. Победители среди Участников, верно ответивших на Вопрос дня определяются автоматически в следующем порядке:</p>
          <p class="font-size15">Участник, ставший 50-м верно ответившим на Вопрос дня за текущее число получает набор «Чимацикл» LEGO® CHIMA™,  Участник, ставший 100-м верно ответившим на Вопрос дня за текущее число получает набор «Боевая машина Горзана»,
          <p class="font-size15">Участник, ставший 150-м верно ответившим на Вопрос дня за текущее число получает набор LEGO® CHIMA™ «Конструируемая фигура».
          <p class="font-size15">3.6. Имена Победителей, выбранных системой среди Участников, ответивших на Вопрос дня, публикуются на сайте chima.nickelodeon.ru на следующий день после 19:00.
          <p class="font-size15">3.7. Если количество ответов на Вопрос дня за текущее число не достигает 150, то Победителями объявляются 50-й, 100-й и последний верно ответившие на Вопрос дня Участники.
          Если количество ответов на Вопрос дня за текущее число не достигает 100, то Победителями объявляются 50-й и два последних верно ответивших на Вопрос дня Участники.
          Если количество ответов на Вопрос дня за текущее число не достигает 50, то Победителями объявляются три последних верно ответивших на Вопрос дня Участники. </p>
          <p class="font-size15">3.8. Победитель Акции, получающий Главный приз определяется решением жюри – представителей компаний ООО «МТВ Нетворкс Ник Восток» и ООО «ЛЕГО».</p>
          <p class="font-size15">3.9. Организатор Акции имеет право дисквалифицировать Участника Акции в случае подозрения в использовании нечестных методов участия без дальнейшего объяснения. Нечестными методами среди прочего признаются изменение IP-адреса, манипуляции с cookies и т.п.</p>
          <p class="font-size15">3.10. Объявление Победителей Акции состоится на сайтах chima.nickelodeon.ru и nickelodeon.ru 16 декабря 2013г.</p>
          <p class="font-size15"><strong>4. ПРИЗОВОЙ ФОНД</strong></p>
          <p class="font-size15">4.1. Призовой фонд Акции:  Главный приз – 1 (один) детский квадроцикл, 28 наборов LEGO® CHIMA™ «Боевая машина Горзана», 28 наборов LEGO® CHIMA™ «Чимацикл», 28 наборов LEGO® CHIMA™ «Конструируемая фигура».</p>
          <p class="font-size15">4.2. Организатор своими силами и за свой счет осуществляет следующие действия для каждого Победившего участника: отправка призов Почтой России. Организатор не несет ответственности за несвоевременную доставку, порчу и/или неполучение отправленных призов, вызванные по вине перевозчика.</p>
          <p class="font-size15">4.3. Организатор предоставляет в налоговые органы сведения о выданных Призах в соответствии с требованиями действующего законодательства Российской Федерации. Ответственность по уплате налогов в связи с получением Приза лежит на Победившем участнике или его законном представителе. Для получения приза Победивший участник должен предоставить Организатору всю необходимую информацию, которая будет использована для подачи сведений в налоговую инспекцию.</p>
          <p class="font-size15">5. ПОРЯДОК И СРОКИ ВРУЧЕНИЯ ПРИЗА</p>
          <p class="font-size15">5.1. В течение 3 (трех) календарных дней с момента опубликования имен Победителей на сайте chima.nickelodeon.ru Организатор направляет Победителям Акции уведомление о победе в Акции на электронный адрес, указанный ими при регистрации.
          Организатор не несет ответственности за непредставление уведомления о победе в Акции в случае, если Участник Акции предоставил неверные контактные данные, а также в случае неисправности электронной почты Участника Акции.</p> 
          <p class="font-size15">5.2. В случае, если в течение срока, указанного в пункте 5.1 Настоящих правил Организатору не удается связаться с одним или несколькими Победителями Акции по предоставленному ими телефону и/или электронному адресу, и сам Победитель Акции не свяжется с Организатором в течение 5 (пяти) календарных дней с момента отправки уведомления Организатор Акции вправе отказать ему в выдаче приза, а также объявить Победителем другого Участника Акции.
          <p class="font-size15">5.3. Фамилия, имя и отчество Победившего Участника должны совпадать с фамилией, именем и отчеством, указанными Участником Акции при регистрации на сайте chima.nickelodeon.ru.
          Информация должна быть представлена по электронной почте путем направления ответа на уведомление Организатора.</p>
          <p class="font-size15">5.4. Для получения приза Участнику, признанному его обладателем, необходимо способом, указанным в уведомлении о выигрыше приза предоставить копии: паспорта гражданина Российской Федерации (страниц 2, 3 и с отметкой о регистрации по месту жительства), и свидетельства о рождении ребёнка участника в возрасте от 5 до 13 лет включительно.
          Копии должны быть чёткими с читаемыми буквами и цифрами, копии страниц паспорта должны содержать данные: о серии и номере паспорта, наименовании органа, выдавшего паспорт, с указанием кода подразделения, дате выдачи паспорта, фамилии, имени, отчества, дате и месте рождения, информацию об адресе регистрации по месту жительства. В том случае, если участник не может предоставить документы, указанные выше в настоящем пункте, заявка на участие в Акции данного лица признаётся недействительной .
          Отсканированные копии документов могут быть в любом из указанных далее форматов: JPG, JPEG, GIF, PNG, TIF, TIFF, с разрешением не менее 72 DPI, физический размер каждого документа (файла) – не более 5 мегабайт.</p>
          <p class="font-size15">5.5. В случае, если один или несколько Победивших участников Акции откажется получить приз и/или не воспользуется предоставленным правом на его получение, Организатор вправе распорядиться призом самостоятельно и по своему усмотрению.</p>
          <p class="font-size15">5.6. Призы не подлежат замене другими призами, денежный эквивалент стоимости призов вместо выдачи их в натуральном эквиваленте не выплачивается.</p>
          <p class="font-size15">5.7. Организатор не несет ответственности за несвоевременную доставку и/или неполучение отправленных призов, если это произошло не по вине Организатора.</p>
          <p class="font-size15">5.8. Организатор не несет ответственности в случае отправки призов по неправильному адресу вследствие предоставления участником недостоверных и/или некорректных данных.</p>
          <p class="font-size15"><strong>6. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</strong></p>
          <p class="font-size15">6.1. Акция, настоящие правила, а также любая деятельность, связанная с Акцией регулируются законодательством Российской Федерации. Организатор вправе вносить изменения в настоящие Правила.</p>
          <p class="font-size15">6.2. Организатор не несет ответственности за технические сбои в том числе:</p>
          <p class="font-size15">1) За задержки электронных сообщений, а также за любые иные технические сбои интернет-провайдеров, предоставляющих услуги связи Участникам Акции, возникшие не по вине Организатора.</p>
          <p class="font-size15">2) За технические неполадки на Интернет-сайте chima.nickelodeon.ru, в случае, если они возникли не по вине Организатора.</p>
          <p class="font-size15">3) Оценка полноты, точности, своевременности и правильности всех сведений, сообщенных Участником, определение Победителя, а также даты, времени и места вручения призов, осуществляются Организатором.</p>
          <p class="font-size15">6.3. Организатор оставляет за собой право учредить дополнительный призовой фонд для поощрения Участников Акции, не ставших победителями.</p>
          <p class="font-size15">6.4. Персональные данные Участника, а также его фотографии могут быть использованы Организатором и/или его уполномоченными лицами в рекламных целях только с разрешения Участника, без уплаты ему какого-либо вознаграждения.</p>
          <p class="font-size15">6.5. В зависимости от конкретных обстоятельств, в том числе указанных в настоящих Правилах, Организатор оставляют за собой право принять решение об отсутствии среди Участников лиц, которые могут быть названы победителем Акции.</p>
          <p class="font-size15">6.6. Организатор оставляет за собой исключительное право дополнять и/или изменять настоящие Правила, а также прекратить, приостановить или отменить проведение Акции и/или аннулировать его результаты (полностью или частично), уведомив об этом способом, не запрещенным действующим законодательством.</p>
          <p class="font-size15">6.7. Принимая настоящие Правила и условия Акции, Участник предоставляет Организатору согласие на обработку своих персональных данных, в т.ч. фамилии, имени и отчества, паспортных данных, адреса, телефона. Участник соглашается с тем, что по требованию Организатора Участник предоставит такое согласие в письменной форме.</p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <a class="btn-close mt20 pull-right" href="#"></a>
      </div>
    </div>
  </div>
</div>

<div class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <a class="navbar-brand" href="/"><img alt="" src="/img/logo.png"></a>
      </div>
      <div class="col-md-4 col-lg-4">
        <div class="slogan"></div>
      </div>
      <div class="col-md-4 col-lg-4">
        <img src="/img/croc.png" class="character croc" alt="">
      </div>
    </div>
  </div>
</div>
